.about-intro {
    padding:50px 0;
}

.about-intro__container {
    width:80%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
}

.about-intro__title {
    margin-bottom:20px;
}

.about-intro__image {
    object-fit: contain;
    width: 100%;
}

.about-intro__description {
    padding-bottom:20px;
}

@media (min-width:1024px) {
    .about-intro__container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}